<div id="about-container">
  <div id="about-container-inner">
      <!-- <i class="fas fa-address-card"></i> -->
      <app-header></app-header>
      <div class="about-content">
          <div class="banner">
              <h2 class="drop-shadow">About Us</h2>
              <p class="drop-shadow">This Assignment was created by Yescenia Vasquez</p>
              <p class="drop-shadow">It was created for IS106 at CSUF.</p>
              <button class="btn btn-primary">Learn More</button>
          </div>
      </div>

  </div>
</div>
