#about-container {
  height: 100%;
}

#about-container-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1em;
  height: 100%;
  width: 80%;
  margin: 0px auto;
}

.top-nav {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #222;
  border-color: #080808;
  height: 55px;
  border-radius: 4px;
  padding: 1em;

}

.main-nav {
  border: 1px solid #e5e5e5;
}

.welcome-txt {
  color: #fff;

}

.top-nav-item {
  list-style-type: none;
}

.top-nav-item li {
  display: inline;
}

.top-nav-item li a {
  color: #fff;
  padding: 5px;
}
.logo-txt {
  font-size: 1.75em !important;
  font-weight: bold;

}
.white {
  background-color: #fff !important;
}

.banner {
  height: 340px;
  border-radius: 10px;
  background-image: url('../../assets/img/whistler.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 14%;
  color: #fff;
  padding: 3em;
}
