*{
  margin:0px;
  padding: 0px;

}

html, body {
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 2em;
}
.full-width {
  width: 100%;
}

/*home page css*/
.cursive{
  font-family:brush script mt;
}

.circle {
  border-radius: 50%;

}

.drop-shadow {
  text-shadow: 3px 2px 3px #000;
}
#home-container {
display: grid;
grid-template-rows: 1fr 1fr;
height: 100%;
}

.r1 {
  background-color: black;
  background-image: url('assets/img/david.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.r1-inner {
  width: 80%;
  height: 100%;
  margin: 0px auto;

}

.home-main-nav{
  padding-top: 25px;
}

.home-main-nav >ul {
  list-style-type: none;
}

.home-main-nav >ul >li {
  display: inline;
  font-size: 1.75em;

}

.home-main-nav >ul >li >a {
  color: white;
  text-decoration: none;
  padding: 15px 1em;
  text-shadow: 3px 2px 3px #000;

}

.home-main-nav > ul> li:first-child {
  font-family:brush script mt;
}
.home-main-nav >ul >li:first-child a:hover {
  background-color: transparent;
  color: #428bca;

}

.home-main-nav >ul >li >a:hover {
  background-color: #fff;
  color: red;
}

.gallery-description {
  text-align: center;
  color: #fff;
  padding-top: 15%;
  padding-bottom: 40px;
  font-size: 1.4em;

}

.r2 {
  display: grid;
  padding: 2em 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  justify-items: center;
  width: 80%;
  margin: 0px auto;
  height: 100%;
}
.r2 > div {
  text-align: center;
}

.left-align {
  text-align: left;
}
