<div id="home-container">
  <div class="r1">
    <div class="r1-inner">
      <nav class="home-main-nav">
        <ul>
          <li class="cursive">
            <a href="index.html">Home</a>
          </li>
          <li>
            <a [routerLink]="'/about'">About</a>
          </li>
          <li>
            <a [routerLink]="'/artwork'">Work</a>
          </li>
          <li>
            <a [routerLink]="'/artist'">Artist</a>
          </li>


        </ul>

      </nav>
      <div class="gallery-description">
        <h2 class="cursive drop-shadow">Jacques-Louis David</h2>
        <p class="drop-shadow">The Intervention of the Sabine Women was painted in</p>
        <p class="drop-shadow">1799 and resides in the Musee du Louvre, Paris</p>
        <button class="btn btn-primary">Learn More</button>
      </div>
    </div>
  </div>
  <div class="r2">

    <div>
      <img class="circle" src="assets/img/thumbs/120010.jpg" alt="lady">
      <h2>Portriat of Eleanor of Toledo</h2>
      <p class="left-align">The portrait of Eleanor of Toledo and Her Son is a painting by the Italian artist
        Agnolo di Cosim known as Brozino, finished ca. 1545. One of his most famous works, it is housed in the
        Uffizi Gallery of Florence, Italy and is considered one of the preeminent examples of Mannerist
        portraiture. </p>
      <button class="btn btn-light">View Details</button>
    </div>
    <div>
      <img class="circle" src="assets/img/thumbs/116010.jpg" alt="lady">
      <h2>Portriat of the Artist</h2>
      <p class="left-align ">
        Portrait of the Artist Holding a Thistle is an oil painting on parchment pasted on canvas by German
        artist
        Albrecht Durer's painting in 1493. It is the earliest of Durer's painted self-portraits and has been
        identified
        as one of the first self-portraits painted by a Northern artist.
      </p>
      <button class="btn btn-light">View Details</button>

    </div>
    <div>
      <img class="circle" src="assets/img/thumbs/106020.jpg" alt="lady">
      <h2>Girl with a Pearl Earring</h2>
      <p class="left-align "> Girl with a Pearl Earring is one of Johannes Vermeer's masterworks and, as
        the name implies, uses a pearl earring for a focal point. Today the painting is kept in the
        Mauritshuis gallery
        in The Hague. It is sometimes reffered to as "the Mona Lisa of the North" or "the Dutch Mona Lisa".
      </p>
      <button class="btn btn-light">View Details</button>

    </div>
  </div>
</div>
